<app-headbar></app-headbar>
<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <br>
      <h1 class="title pacifico large-text">
        Registrar Endereço
      </h1>
      <div class="columns">
        <div class="column is-half is-offset-one-quarter">
          <form [formGroup]="enderecoForm">


            <div class="field">
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input required class="input" type="text" placeholder="Cep" (blur)="searchCep($event)" [maxlength]="9" [(ngModel)]="enderecoData.cep"
                      formControlName="cep" mask="00000-000" required>
                  </div>
                  <p class="help is-danger" *ngIf="enderecoForm.controls['cep'].hasError('required') && enderecoForm.controls['cep'].touched">
                    <strong>Campo obrigatório!</strong>
                  </p>
                </div>
              </div>
            </div>
            <div *ngIf="showFullAddress">
              <div class="field is-horizontal">
                <div class="field-body">
                  <div class="field">
                    <p class="control">
                      <input class="input" type="text" name="Rua" [(ngModel)]="enderecoData.rua" formControlName="rua" placeholder="Rua">
                    </p>
                  </div>
                  <div class="field">
                    <p class="control">
                      <input class="input" type="text" name="Bairro" [(ngModel)]="enderecoData.bairro" formControlName="bairro" placeholder="Bairro">
                    </p>
                  </div>
                </div>
              </div>

              <div class="field is-horizontal">
                <div class="field-body">
                  <div class="field">
                    <p class="control">
                      <input class="input" type="text" name="Número" 
                      [(ngModel)]="enderecoData.numero" formControlName="numero"
                       placeholder="Numero">
                    </p>
                  </div>
                  <div class="field">
                      <p class="control">
                          <input class="input" type="text" name="Cidade" 
                          formControlName="cidade"
                          [(ngModel)]="city"
                           placeholder="Cidade">
                      </p>
                    </div>

                  <div class="field">
                    <p class="control">
                        <input class="input" type="text" name="Estado" 
                        formControlName="estado"
                        [(ngModel)]="uf"
                         placeholder="Estado">
                    </p>
                  </div>
                </div>
              </div>
            </div>


            <div class="columns">
              <div class="column">
                <button [routerLink]="['/enderecoList']" style="margin-top: 10px; float: left!important; margin-left: 0px;" class="button is-dark is-inverted is-outlined is-fullwidth">Voltar</button>
              </div>
              <div class="column">
                  <button  type="submit" style="margin-top: 10px" class="button is-dark is-inverted is-outlined is-fullwidth"
                  (click)="validContinue()" [disabled]="enderecoForm.invalid">Seguir</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>