<app-headbar></app-headbar>

<section class="hero is-primary is-fullheight">
  <div class="hero-body">

    <div class="container has-text-centered">

      <h1 class="title pacifico large-text">
        Registrar Pessoa
      </h1>
      <div class="columns">
        <div class="column is-half is-offset-one-quarter">
          <form [formGroup]="personForm">

            <div class="field">
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input required class="input" type="text" placeholder="Nome" [(ngModel)]="personData.nome" formControlName="nome">
                  </div>
                  <p class="help is-danger" *ngIf="personForm.controls['nome'].hasError('required') && personForm.controls['nome'].touched">
                    <strong>Campo obrigatório!</strong>
                  </p>
                </div>
              </div>
            </div>

            <div class="field">
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input class="input" type="date" 
                    placeholder="Data Nascimento" 
                    [(ngModel)]="personData.dataNascimento" 
                    formControlName="dataNascimento"
                    useValueAsDate>
                  </div>
                  <p class="help is-danger" *ngIf="personForm.controls['dataNascimento'].hasError('required') && personForm.controls['dataNascimento'].touched">
                    <strong>Campo obrigatório!</strong>
                  </p>
                </div>
              </div>
            </div>

            <div class="field">
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input required class="input" type="text" placeholder="CPF" [(ngModel)]="personData.cpf" formControlName="cpf">
                  </div>
                  <p class="help is-danger" *ngIf="personForm.controls['cpf'].hasError('required') && personForm.controls['cpf'].touched">
                    <strong>Campo obrigatório!</strong>
                  </p>
                </div>
              </div>
            </div>

  
                <!-- <div class="field ">
                  <div class="field-body"> -->
                    <!-- <div class="field is-narrow"> -->
                      <div class="control ">
                        <div class="select is-fullwidth">
                          <select [(ngModel)]="personData.sexo_id" formControlName="sexo">
                            <option [value]="1">Masculino</option>
                            <option [value]="2">Feminino</option>
                          </select>
                        </div>
                      <!-- </div> -->
                    <!-- </div>
                  </div> -->
                </div>


            <div class="columns">
              <div class="column">
                <button [routerLink]="['/pessoaList']" style="margin-top: 10px; float: left!important; margin-left: 0px;" class="button is-dark is-inverted is-outlined is-fullwidth">Voltar</button>
              </div>
              <div class="column">
                <button  type="submit" style="margin-top: 10px" class="button is-dark is-inverted is-outlined is-fullwidth"
                  (click)="validContinue()" [disabled]="personForm.invalid">Seguir</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>

  </div>
</section>

<app-footer></app-footer>