<app-headbar></app-headbar>
<p *ngIf="mensagem.length" class="alert alert-success">{{mensagem}}</p>
<section class="hero is-primary is-fullheight">
    <section class="section">
        <div class="container">
          <div class="heading animated fadeIn">
            <h1 class="title">Pessoas</h1>
            <h2 class="subtitle">
              Lista de pessoas
            </h2>
          <br>
          <p class="has-text-right">
            <button [routerLink]="['/pessoa']" class="button is-success is-large animated pulse infinite">
                <i class="fa fa-check">&nbsp;&nbsp;Cadastrar</i></button>
              </p>
          <br>    
          </div> 
          
          <table class="table is-striped is-fullwidth">
            <thead>
              <tr>
                <th class="has-text-centered">Código</th>
                <th class="has-text-centered">Nome</th>
                <th class="has-text-centered">CPF</th>
                <th class="has-text-centered">SEXO</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let person of personList">
                <td class="has-text-centered">{{person.id}}</td>
                <td class="has-text-centered">{{person.nome}}</td>
                <td class="has-text-centered">{{person.cpf}}</td>
                <td class="has-text-centered">{{person.sexo_id}}</td>
                <td class="has-tex-centered"><a class="button is-info is-outlined is-small is-striped"
                [routerLink]="['/pessoa', person.id]">Atualizar</a></td>
                <td class="has-tex-centered"><a class="button is-small is-danger is-outlined" (click)="excluirPerson(person)">Remover</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>

</section>
<app-footer></app-footer>