<app-headbar></app-headbar>
<section class="hero is-primary is-fullheight">
    <section class="section">
        <div class="container">
          <div class="heading animated fadeIn">
            <h1 class="title">Endereços</h1>
            <h2 class="subtitle">
              Lista de endereços
            </h2>
          <br>
          <p class="has-text-right">
            <button [routerLink]="['/endereco']" class="button is-success is-large animated pulse infinite">
                <i class="fa fa-check">&nbsp;&nbsp;Cadastrar</i></button>
              </p> 
          </div> 
          
          <table class="table is-striped is-fullwidth">
            <thead>
              <tr>
                <th class="has-text-centered">CEP</th>
                <th class="has-text-centered">RUA</th>
                <th class="has-text-centered">BAIRRO</th>
                <th class="has-text-centered">NÚMERO</th>
                <th class="has-text-centered">CÓDIGO DE PESSOA</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let endereco of enderecoList">
                <td class="has-text-centered">{{endereco.cep}}</td>
                <td class="has-text-centered">{{endereco.rua}}</td>
                <td class="has-text-centered">{{endereco.bairro}}</td>
                <td class="has-text-centered">{{endereco.numero}}</td>
                <td class="has-text-centered">{{endereco.person_id}}</td>
                <td class="has-tex-centered"><a class="button is-info is-outlined is-small is-striped" 
                [routerLink]="['/endereco', endereco.id]">Atualizar</a></td>
                <td class="has-tex-centered"><a class="button is-small is-danger is-outlined" (click)="excluir(prato)">Remover</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>

</section>
<app-footer></app-footer>